@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



.sidenav-container
{
    width: 235px;
    height: 1210px;
    background-color: white;
    
}

.sidenav-toggle
{
    width: 64px;
    height: 28px;
    background: #E3EAF2;
    border-radius: 31px;
    margin-left: 140px;
    margin-top: 30px;
}

.sidenav-content
{
    margin-top:30px;
    display:flex;
    flex-direction: column;
    padding-left: 20px;
}

.sidenav-heading
{
    font-family: 'Inter', sans-serif;
    display: flex;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.3px;
    color: #4B4B4B;

}

.sidenav-link
{
    font-family: 'Inter', sans-serif;
    padding-left: 25px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.3px;
    color: #4B4B4B;

}

.round-btn
{
    font-family: 'Inter', sans-serif;
    background: #FFFFFF;
    border: 1px solid #E3EAF2;
    box-shadow: 0px 2px 3px rgba(219, 219, 219, 0.5);
    border-radius: 31px;
    width: 28px;
    height: 28px;
    color: #F88822;
    font-size: 20px;
    float: right;
    margin-top: -30px;
}

.hide
{
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.208333px;
    color: #8A8A8A;
    width: 23px;
    height: 13px;
    padding-top: 7px;
    padding-left: 10px;
}

.line
{
    background: #FFFFFF;
    border: 1px solid #E3EAF2;
    width:165px;
    height: 1px;
}

p
{
    display:flex
}

.sidenav-sign
{
    margin: 0px 3px;
    font-size: 14px;
   line-height: 16px;
    letter-spacing: 0.5px;
   color: #F88822;
   font-weight: bold;

}